:root {
    --primary-color: #6440fb;
    --primary-hover-color: #5027fa;
    --primary-dark-color: #140342;
    --secondary-color: #00d084;
    --secondary-hover-color: ##7bdcb5;
    --dark-color: #212529;
    --light-color: #ffffff;
    --light-gray-color: #e4dcfc;
    --dark-gray-color: #868e96;
}
